@keyframes drawStroke {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawFill {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes shrink {
  from {
    opacity: 0;
    height: 24px;
    margin-bottom: 0.5rem;
  }
  to {
    opacity: 0;
    height: 0;
    margin-bottom: 0px;
  }
}

@keyframes fadeIn {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 45%;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    top: 45%;
    opacity: 1;
  }
  to {
    top: 125%;
    opacity: 0;
  }
}

#draw-svg path {
  stroke: #fff; /* Cor do traço */
  stroke-width: 1px; /* Espessura do traço */
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: drawStroke 1s linear forwards, drawFill 1s linear forwards;
}

.remove-task {
  animation: slideOut 0.2s ease-out 0.6s forwards,
    shrink 0.3s ease 0.8s forwards;
}

@media screen and (max-width: 768px) {
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

  .fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }
}

@keyframes pulseRight {
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.pulse-right {
  animation: pulseRight 1s infinite alternate-reverse;
}
.pulse-right:hover {
  animation: none;
}
@keyframes pulseLeft {
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.pulse-left {
  animation: pulseLeft 1s infinite alternate-reverse;
}
.pulse-left:hover {
  animation: none;
}
